@import "../../../core/sass/variables";

.task_history_container {
  padding: 20px;
  min-width: 600px;
  margin: $header-height + 20 auto;

  .post_lists {
    gap: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(500px, 400px);

    .post_item {
      border-radius: 10px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

      .header, .body {
        padding: 10px;
      }

      .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;

        .date_count_content {
          display: flex;
          align-items: flex-end;

          .date_count {
            font-size: 1rem;
            margin-left: 5px;
          }
        }

        .count_content {
          width: 36px;
          height: 36px;
          display: flex;
          color: white;
          align-items: center;
          border-radius: 100px;
          justify-content: center;
          background-color: #6a986c;
          box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        }
      }

    }
  }
}