.modal_main_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(169, 163, 163, 0.58);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_main_content {
        width: 500px;
        height: 300px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .modal_head {
            position: relative;
            .close {
                position: absolute;
                right: 10px;
                font-size: 1.5em;
                cursor: pointer;
            }
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            h2 {
                font-weight: 400;
            }
        }

        .modal_body {
            width: 90%;
            margin: auto;
        }

        .modal_footer {
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }
    }
}