@import "../../../core/sass/variables";

.account_settings_container {
  .title {
    text-align: center;
  }
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  background-color: #fff;
  margin: $header-height + 30 auto;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
