.text_input_container {
  margin: 10px 0;
    .label_title {
        font-weight: 400;
        font-size: 0.9em;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    input {
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #dddfe2;
        &:focus-visible {
            outline: 1px solid #1877f2;
            box-shadow: 0 0 0 2px #e7f3ff;
            caret-color: #1877f2;
          }
    }
  .error_text_content {
    color: #ff4736;
    font-size: 0.7em;
    margin-left: 5px;
    width: 300px;
    display: block;
  }
}
